﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="//code.angularjs.org/1.4.0/angular.js"></script>  
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>    
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../Scripts/moment.js" type="text/javascript"></script>
    <script src="../Scripts/knockout-2.3.0.js" type="text/javascript"></script>
    <link href="css/main.css" type="text/css" rel="stylesheet" />
    <script src="../Scripts/moment.js" type="text/javascript"></script>
    <script src="../Scripts/moment.min.js" type="text/javascript"></script>
    <link href="../Content/moment-datepicker/datepicker.css" rel="stylesheet" />
    <script src="../Scripts/moment-datepicker.js"></script>
    <script src="../Scripts/moment-datepicker-ko.js"></script>

</head>
<body ng-app="casesApp">

    <h1>Results</h1>
    <div ng-controller="CasesController as me">

        <div>
            <div class="input-group">
                <div class="input-group-addon">
                    Quantity of last cases:
                </div>
                <input type="number" min="0" class="form-control" ng-model="me.quantity" style="width: 200px">
                <button class="btn btn-primary table-button" ng-click="me.getCases()">Get</button>
            </div>
        </div>

        <div>
            <div class="input-group">
                <div class="input-group-addon">
                    Search by Customer:
                </div>
                <input type="text" class="form-control" placeholder="Search" ng-model="me.searchString" style="width: 200px">
                <button class="btn btn-primary table-button" ng-click="me.getCases()">Find</button>
            </div>
        </div>

        <table id="topCases" class="table table-striped table-hover">
            <thead class="head">
                <tr>
                    <th ng-repeat="field in me.caseFields"><a href="" ng-click="me.enableSorting($index)">{{field}}</a><span><i ng-show="me.sorting[$index]" class="glyphicon glyphicon-sort" ng-click="me.order(field)"></i></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="case in me.topCases track by case.Id" info="case" index="$index" cases="me.topCases" display-case>
                <tr create-case></tr>
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-centered" ng-repeat="i in me.range">
                <li><a href="#" show-active-page ng-click="me.getNextPage((i)*10)">{{i+1}}</a></li>
            </ul>
        </div>
    </div>


    <script src="../Scripts/casesApp.module.js"></script>
    <script src="../Scripts/controllers/CasesController.js"></script>
    <script src="../Scripts/services/dataService.js"></script>
    <script src="../Scripts/directives/showActivePage.directive.js"></script>
    <script src="../Scripts/directives/displayCase.directive.js"></script>
    <script src="../Scripts/directives/createCase.directive.js"></script>


</body>
</html>

