﻿    <th ng-show="create.createClicked">Id</th>
    <th ng-repeat="field in create.caseFields" ng-show="!create.createClicked"></th>

    <th ng-show="create.createClicked">
        <input required
               name="ProjectCaseId"
               type="text"
               ng-model="create.ProjectCaseId"
               placeholder="ProjectCaseId">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="CaseCode"
               type="text"
               ng-model="create.CaseCode"
               placeholder="CaseCode">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Url"
               type="text"
               ng-model="create.Url"
               placeholder="Url">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Customer"
               type="text"
               ng-model="create.Customer"
               placeholder="Customer">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Headline"
               type="text"
               ng-model="create.Headline"
               placeholder="Headline">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="GBU"
               type="text"
               ng-model="create.GBU"
               placeholder="GBU">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="IBU"
               type="text"
               ng-model="create.IBU"
               placeholder="IBU">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Positions"
               type="number"
               ng-model="create.Positions"
               placeholder="Positions">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Proposed"
               type="number"
               ng-model="create.Proposed"
               placeholder="Proposed">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Booked"
               type="number"
               ng-model="create.Booked"
               placeholder="Booked">
    </th>

    <th ng-show="create.createClicked">
        <input required
               name="Status"
               type="text"
               ng-model="create.Status"
               placeholder="Status">
    </th>

    <th ng-show="create.createClicked">
        <input name="Created"
               class="datepicker"
               type="text"
               ng-model="create.Created"
               placeholder="Created">
    </th>

    <th ng-show="create.createClicked">
        <input name="Updated"
               class="datepicker"
               type="text"
               ng-model="create.Updated"
               placeholder="Updated">
    </th>
    <th ng-show="!create.createClicked">
        <button class="btn btn-success table-button" id="CreateCase" ng-click="create.createCase()">New</button>
    </th>
    <th>
        <button class="btn btn-success table-button" ng-show="create.createClicked" ng-click="create.addCase()"
                ng-disabled="!create.ProjectCaseId.length || !create.CaseCode.length || !create.Url.length || !create.Customer.length
                || !create.Headline.length || !create.GBU.length || !create.IBU.length || create.Positions.$isEmpty
                || create.Proposed.$isEmpty || create.Booked.$isEmpty || !create.Status.length">
            Add
        </button>
    </th>
    <th>
        <button class="btn table-button" ng-show="create.createClicked" ng-click="create.cancelAdd()">
            Cancel
        </button>
    </th>
