﻿<tr>
    <td ng-show="vm.mode">{{info.Id}}</td>
    <td ng-show="vm.mode">{{info.ProjectCaseId}}</td>
    <td ng-show="vm.mode">{{info.CaseCode}}</td>
    <td ng-show="vm.mode"><a href="{{info.Url}}">{{info.Url | limitTo: 20}}</a></td>
    <td ng-show="vm.mode">{{info.Customer}}</td>
    <td ng-show="vm.mode">{{info.Headline}}</td>
    <td ng-show="vm.mode">{{info.GBU}}</td>
    <td ng-show="vm.mode">{{info.IBU}}</td>
    <td ng-show="vm.mode">{{info.Positions}}</td>
    <td ng-show="vm.mode">{{info.Proposed}}</td>
    <td ng-show="vm.mode">{{info.Booked}}</td>
    <td ng-show="vm.mode">{{info.Status}}</td>
    <td ng-show="vm.mode">{{info.Created | date}}</td>
    <td ng-show="vm.mode">{{info.Updated | date}}</td>
    <td ng-show="vm.mode">
        <button type="button" class="btn btn-sm btn-danger table-button" ng-click="vm.deleteCase(info, index)">
            Delete
        </button>
    </td>
    <td ng-show="vm.mode">
        <button type="button" class="btn btn-sm btn-primary table-button" ng-click="vm.editCase(info)">
            Edit
        </button>
    </td>

    <td ng-show="!vm.mode">{{info.Id}}</td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.ProjectCaseId" style="min-width:50px;">
        <span ng-show="!info.ProjectCaseId.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.CaseCode">
        <span ng-show="!info.CaseCode.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.Url">
        <span ng-show="!info.Url.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.Customer">
        <span ng-show="!info.Customer.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.Headline">
        <span ng-show="!info.Headline.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.GBU">
        <span ng-show="!info.GBU.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.IBU">
        <span ng-show="!info.IBU.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="number" ng-model="info.Positions">
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="number" ng-model="info.Proposed">
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="number" ng-model="info.Booked">
    </td>
    <td ng-show="!vm.mode">
        <input class="limited" type="text" ng-model="info.Status">
        <span ng-show="!info.Status.length" class="warning">Required!</span>
    </td>
    <td ng-show="!vm.mode">
        <input type="text" class="datepickerEdit limited" ng-model="info.Created">
    </td>
    <td ng-show="!vm.mode">
        <input type="text" class="datepickerEdit limited" ng-model="info.Updated">
    </td>
    <td ng-show="!vm.mode">
        <button type="button" class="btn btn-sm btn-danger table-button" ng-click="vm.deleteCase(info, index)">
            Delete
        </button>
    </td>
    <td ng-show="!vm.mode">
        <button type="button"
                class="btn btn-sm btn-success table-button"
                ng-click="vm.updateCase(info)"
                ng-disabled="!info.ProjectCaseId.length || !info.CaseCode.length || !info.Url.length || !info.Customer.length
                || !info.Headline.length || !info.GBU.length || !info.IBU.length || info.Positions.$isEmpty
                || info.Proposed.$isEmpty || info.Booked.$isEmpty || !info.Status.length">
            Update
        </button>
    </td>
    <td ng-show="!vm.mode">
        <button type="button" class="btn btn-sm table-button" ng-click="vm.cancelEdit(info, index)">
            Cancel
        </button>
    </td>



</tr>
