﻿h1 {
    text-align: center;
}

th i {
    margin-left: 10px;
    color:orange;
    font-size: 15px;
}

.head {
    font-size: 20px;
    color: blue;
}



.Enter {
    display:inline-block;
    text-align:right;
}

.warning {
    color: red;
    font-weight: bold;
}

.table-button{
    width:70px;
}

.input-group-addon {
    width: 200px;
}

input {
    width: 100%;
}